<div class="container">
    <div [hidden]="submitted">
        <h3>Register @Ex Machina (Reactive)</h3>
        <form novalidate [formGroup]="signUpForm"  (ngSubmit)="register()">
            <div class="form-group">
                <label for="firstName">First Name</label>

                <input type="text" id="firstname" class="form-control"
                       formControlName="firstname" required >
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>

                <input type="text" id="lastname" class="form-control"
                       formControlName="lastname" required >
            </div>
            <div class="form-group">
                <label for="login">Login </label>

                <input type="login" id="login" class="form-control" loginValidator formControlName="login" required >

                <div *ngIf="signUpForm.controls.login.errors
                && signUpForm.controls.login.errors.loginTaken && signUpForm.controls.login.touched" class="alert alert-danger">
                    This username is already taken, please choose another
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>

                <input type="email" id="email" class="form-control" emailValidator formControlName="email" required >

                <div *ngIf="signUpForm.controls.email.errors &&
                signUpForm.controls.email.errors.emailTaken && signUpForm.controls.email.touched" class="alert alert-danger">
                    This email has already been registered.
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>

                <input type="password" id="password" class="form-control"
                       formControlName="password" required >

                <div *ngIf="!signUpForm.controls.password.valid && signUpForm.controls.password.touched" class="alert alert-danger">
                Please enter a password
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="!signUpForm.valid" class="btn btn-primary">Register</button>
                <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>

</div>
